{% extends "base.html" %}
{% block content%}

    <h1 align="center">Carrito</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Imagen</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
            </tr>
        </thead>
       
        <tbody>
            <tr>
                <th id="nombre">{{nombre}}</th>
            </tr>
    

        </tbody>
    </table>

{% endblock %}