{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content%}



<div class="row">
    <div class="col-8">
        <h1>Catalogo</h1>

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col-8">Nombre</th>
                    <th scope="col-8">Descripcion</th>
                    <th scope="col-8">Imagen</th>
                    <th scope="col-8">Categoria</th>
                    <th scope="col-8">Precio</th>
                    <th scope="col-8"></th>
                </tr>
            </thead>
            <tbody>
                {%for producto in productos%}
                {%include 'items_modals.html'%}
                <tr>

                    <th>{{producto.nombre}}</th>
                    <td>{{producto.descripcion}}</td>
                    <td id="imagen"><img src={{producto.imagen}} width="200" height="200"></td>
                    <td id="categoria">{{producto.categoria}}</td>
                    <td id="precio">{{producto.precio}}</td>
                    <td><button type="submit" class="btn btn-primary" id="agregar" data-toggle="modal"
                            data-target="#Modal-PurchaseConfirm-{{ producto.id }}">Comprar</button></td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Sus productos comprados</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col-8">Nombre</th>
                            <th scope="col-8">Descripcion</th>
                            <th scope="col-8">Imagen</th>

                        </tr>
                    </thead>
                    <tbody>
                        {%for miproducto in misproductos%}
                        <tr>

                            <th>{{miproducto.nombre}}</th>
                            <td>{{miproducto.descripcion}}</td>
                            <td id="imagen"><img src={{miproducto.imagen}} width="200" height="200"></td>



                        </tr>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
</form>
{% endblock %}